<p style="color: green"><%= notice %></p>

Polygon data : <%= @polygon %>
<div>
<%= area_map [{geometry: {type: "MultiPolygon", coordinates: @polygon}}],color: "#6F255D", zoom: 20000, controls: true %>
</div>
