<h1>Editing excavator</h1>

<%= render "form", excavator: @excavator %>

<br>

<div>
  <%= link_to "Show this excavator", @excavator %> |
  <%= link_to "Back to excavators", excavators_path %>
</div>
